@model IEnumerable<WebHungdongho.Models.DonHang>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Quản lý đơn hàng</h2>
@using (Html.BeginForm())
{
    @Html.TextBox("key")
    <input type="submit" value="Tìm kiếm" />
}
@if (!string.IsNullOrEmpty(ViewBag.cr))
{
    <p style="color:red">@ViewBag.cr</p>
}
@if (!string.IsNullOrEmpty(ViewBag.check))
{
    <p style="color:red">@ViewBag.check</p>
}
else
{
    <br />
    <br />
    <p>
        @Html.ActionLink("Tạo đơn hàng", "Create", null, new { @class = "btn btn-primary btn-sm" })
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTenDem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @{
                    DateTime ngayDatHang;
                    if (item.NgayDatHang is DateTime)
                    {
                        ngayDatHang = (DateTime)item.NgayDatHang;
                    }
                    else
                    {
                        ngayDatHang = DateTime.MinValue;
                    }
                }
                <td>
                    @ngayDatHang.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.Raw(string.Format("{0:#,##0}₫", item.TongTien * 1000))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTenDem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>

                <td>
                    <a href="@Url.Action("Index", "ChiTietDonHangs1", new { maDonHang = item.MaDonHang })" class="btn btn-info btn-sm">Xem chi tiết</a>|
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaDonHang }, new { @class = "btn btn-primary btn-sm" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaDonHang }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
                    }

    </table>
}